@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";
@import '../../styles/base/resets';

.aside-container {
    width: 500px;
    border-left: 4px solid #000;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    height: calc(100vh - 138px);
    overflow-y: auto !important;
}

.aside-options {
    border-bottom: 4px solid #000;

    button {
        margin: 15px 0 !important;
    }

    label {
        margin: 15px 0;
    }

    div {
        margin: 0 10px;
        display: flex;
        flex-direction: row-reverse;

        @include md {
            display: block;
        }

    }

}

.note-name {
    padding: 20px;
    border-bottom: 3px solid #000;


    &:hover {
        background-color: lightgray;
    }
}

.note-name-select {
    padding: 20px;
    border-bottom: 3px solid #000;
    background-color: lavender;


}

.list-note-container {
    display: flex;
    justify-content: center;

}

.favorite-star-container {
    margin-right: 10px;
}

.img-action-aside {
    width: 90px;
    position: relative;
    right: -20px;
    top: 5px;

    @include md {
        display: none !important;
    }
}

.img-action-aside-hidden {
    background-color: lavender;
    width: 100px;
    height: 100px !important;
    height: auto;
    position: relative;
    cursor: pointer;
    left: 15px;
    display: block;

    @include md {
        display: none !important;
    }

}

.menu.active {
    display: block;
}

.active {
    display: none;
}