@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";
@import "../../styles/base/resets";

.note-space-container {
  position: relative;
  background-color: lavender;
  width: 100%;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  border-left: 4px solid #000;
  height: calc(100vh - 80px);
  @include sm {
    height: calc(100vh - 100px);
    padding-top: 40px;
  }

  h1 {
    padding-top: 10px;
    font-size: 14px;
    @include sm {
      font-size: 20px;
    }
  }
  p {
    font-size: 12px;
    @include sm {
      font-size: 16px;
    }
  }
}

.btn-note-options {
  position: absolute;
  right: 12px;
  bottom: 20px;
  display: flex;
  flex-direction: column;

  button {
    font-size: 12px;
    margin-bottom: 16px;
    @include sm {
      font-size: 16px;
    }
  }
}

.favorite-container {
  i {
    margin-top: 16px !important;
  }

  @include sm {
    position: absolute;
    left: 16px;
    top: 16px;

    i {
      margin: 0 !important;
    }
  }
  @include md {
    position: absolute;
    left: 8px;
    top: 8px;
  }
}
