@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";
@import '../../styles/base/resets';

.note-space-container {
    background-color: lavender;
    width: 100%;
    height: calc(100vh - 138px);
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;

    h1 {
        padding-top: 10px;
    }

    @include sm {
        h1 {
            padding-top: 40px;
        }
    }

}

.btn-note-options {
    position: absolute;
    right: 12px;
    bottom: 20px;
    display: flex;
    flex-direction: column;

    button {
        width: 160px;
        margin-bottom: 20px;
    }
}

.favorite-container {

    i {
        margin: 0;
    }

    @include sm {
        width: 20px;
        height: 20px;
        position: relative;
        left: 20px;
        top: 20px;

        i {
            margin: 0;
        }
    }


}