.auth-container {
    width: 100%;
    height: 100%;
}

.login-container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;

    div {
        display: flex;
        align-items: center;
    }

    .body-container {
        display: flex;
        flex-direction: row;
        min-height: 500px;
    }
}

.info-message {
    width: 50%;
    border: none !important;

    .message {
        display: flex;
        flex-direction: column-reverse;

    }
}

.form-auth-container {
    width: 60%;
    margin: 30px 20px;
}

.footer-container {
    margin: 10px 20px;
}

.header-container {
    h1 {
        font-size: 25px;
    }
}

.social-icon-container {
    position: absolute;
    right: 20px;
    top: 0px;
    display: flex;
    flex-direction: column-reverse;

    i {
        margin: 20px 10px;

    }
}